body {
    font-family:"kay pho du";
    background-color: #ebc0c7;
    color:#000000
}

h1, h2, h3, h4, h5, h6 {
    font-family:Matemasie;

}
h1{
    font-size:40pt;
}

h2 {
    margin: .1em;

header {
    text-align:center;
}
}
#hero, footer {
    background-color:#FBFFFB
    
}

/*Hero Section*/

#hero img {
    width: 250px;
    text-align:center;
}

/*Bird Section*/

#bird img {
        width: 50px;
}

/*Biography Section*/

#bio {
    text-align:center;
}

/*Hobby section*/

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: left;
}
#hobbies ul li:nth-child(even){
    color: black;

}

/*Gallery*/

#gallery {
    border: 8px solid lightblue;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;

}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

#gallery figure:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/*Classic literature section*/

#lit {
    color: rgb(0, 0, 0);
    border: 10px solid lightblue;
    font-family: Verdana;
    align-items: center;
}

#lit div {
    padding: 4rem;
    max-width: 30rem;
    margin: 0 auto;
}
    
/* Dropcaps */
#lit div p:first-child:first-letter {
    color: black;
    float: left;
    font-family: Matemasie;
    font-size:2em;
    padding: 0.25em;
    line-height: .60;
    border: 2px solid lightblue;
    text-shadow: 3px 3px 4px rgba(0,0,0,.5);
    box-shadow: 5px 5px 5px rgba (0,0,0,.5);
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

/* Contact Form */

#formElements{
    display:grid;
    row-gap:.5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid lightblue;
    margin-top:1em;
    margin-bottom:1em;
}

legend {
    background-color: lightblue;
    color: black;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size:1rem;
}

#contact ul {
    list-style: none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color: lightblue;
    color: black;
    border: 1px solid rgb(96, 158, 178);
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

