body {
    font-family:"kay pho du";
    background-color: #FF5C77;
    color:#000000
}

h1, h2, h3, h4, h5, h6 {
    font-family:Matemasie;

}
h1{
    font-size:40pt;
}


header {
    text-align:center;
}

#hero, footer {
    background-color:#FBFFFB
    
}

#hero img {
    width: 250px;
    text-align:center;
}

#bird img {
        width: 50px;
}

#bio {
    text-align:center;
}

#hobbies ul li:nth-child(even){
    color: black

}

