body {
    font-family:"kay pho du";
    background-color: #c8818d;
    color:#000000
}

h1, h2, h3, h4, h5, h6 {
    font-family:Matemasie;

}
h1{
    font-size:40pt;
}

h2 {
    margin: .1em;

header {
    text-align:center;
}
}
#hero, footer {
    background-color:#FBFFFB
    
}

/*Hero Section*/

#hero img {
    width: 250px;
    text-align:center;
}

/*Bird Section*/

#bird img {
        width: 50px;
}

/*Biography Section*/

#bio {
    text-align:center;
}

/*Hobby section*/

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: left;
}
#hobbies ul li:nth-child(even){
    color: black;

}

/*Gallery*/

#gallery {
    border: 8px solid lightblue;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;

}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align: center;
}

/*Classic literature section*/

#lit {
    color: white;
    border: 10px solid lightblue;
    font-family: Verdana;


}

#lit div {
    padding: 4rem;
    max-width: 30rem;
    margin: 0 auto;
}
    
/* Dropcaps */
#lit div p:first-child:first-letter {
    color: black;
    float: left;
    font-family: Matemasie;
    font-size:2em;
    padding: 0.25em;
    line-height: .60;
    border: 2px solid lightblue;
    text-shadow: 3px 3px 4px rgba(0,0,0,.5);
    box-shadow: 5px 5px 5px rgba (0,0,0,.5);
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* Contact Form */

#formElements{
    display:grid;
}